<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	<title>Webcam Stream</title>
	
</head>
<body class = "pred-body">
	<div id="loading-screen">
		<p>Please wait while the camera is starting...</p>
	</div>
	<div class="vid-feed">
		<img id="predict-feed-l2" src="" alt="Video feed">
	</div>
	<div id ="l1">
		<h1>Level 2</h1>
	</div>
	<div class = "instruction"  id = "instruction-l2">
		<p>There are no hand sign images. You'd have to sign from memory! Use your right hand to sign</p>
	</div>

	<button class = "start-feed" id = "start-feed-l2"  onclick="toggleCamera_l2()"> Start Camera</button>
	<div class = 'footer-lvl'>
		<p> This app will be using your webcam and machine learning to analyze your handshapes. <br>Everything is processed locally, no webcam data will be sent or stored anywhere.</p>
	  </div>

	<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>